body
{
    background-image: url(images.jpg);
    background-size:2500px;

    
}





li{
    color: wheat;

    font-size: 3em;
}


#box
{
    margin: auto;
    margin-left: 50px;
    margin-top: 50px;


}

input
{
    margin-bottom: 20px;
}